/* You can add global styles to this file, and also import other style files */

h4 {
    text-align: center;

}

table {
    margin-left: auto;
    margin-right: auto;
}

.error-message {
    color: red;

}